
<%- include('partials/adminheader.ejs') %>

 <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products</h4>

       <div class="row m" >
        <a href="/admin/addproduct"><button type="button" class="btn btn-success ">Add products</button></a>
       </div>

    <!-- Basic Bootstrap Table -->
    <div class="card mt-2">
      <h5 class="card-header"></h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>

          
          <tbody class="table-border-bottom-0">
            <% for(var i=0; i < product.length; i++) { %>

            <tr>
              <td><img style="width: 100px; height: 100px;  " src="/images/<%= product[i].img %>" alt=""></td>
              <td><%= product[i].title %></td>
             
              <td><%= product[i].price %></td>
              <td><%= product[i].size %></td>
              <td><%= product[i].quantity %></td>
              <!-- <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" product-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/editproduct/<%= product[i]._id %>"
                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                    >
                    <a class="dropdown-item" href="/admin/deleteproduct/<%= product[i]._id %>"
                      ><i class="bx bx-trash me-1"></i> Delete</a
                    >
                  </div>
                </div>
              </td> -->

              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/editproduct/<%= product[i]._id %>"
                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                    >
                    <a class="dropdown-item" href="/admin/deleteproduct/<%= product[i]._id %>"
                      ><i class="bx bx-trash me-1"></i> Delete</a
                    >
                  </div>
                </div>
              </td>

            </tr>

            <% } %>
           
           
           
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

 </div>

 <%- include('partials/adminfooter.ejs') %>