
<%- include('partials/adminheader.ejs') %>

 <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products</h4>

       <div class="row m" >
        <a href="/admin/addproduct"><button type="button" class="btn btn-success ">Add products</button></a>
       </div>

    <!-- Basic Bootstrap Table -->
    <div class="card mt-2">
      <h5 class="card-header"></h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>category</th>
              <th>Price</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Action</th>
              <th>Action</th>
             
            </tr>
          </thead>

          
          <tbody class="table-border-bottom-0"
            <% for(var i=0; i < product.length; i++) { %>

            <tr>
              <td><img style="width: 100px; height: 100px;  " src="/images/<%= product[i].images[0] %>" alt=""></td>
              <td><%= product[i].title %></td>
              <td><%= product[i].category.name %> </td>
              <td><%= product[i].price %></td>
              <td><%= product[i].size %></td>
              <td><%= product[i].quantity %></td>
             
              <!-- <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" product-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/editproduct/<%= product[i]._id %>"
                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                    >
                    <a class="dropdown-item" href="/admin/deleteproduct/<%= product[i]._id %>"
                      ><i class="bx bx-trash me-1"></i> Delete</a
                    >
                  </div>
                </div>
              </td> -->

              <td><a href="/admin/editproduct/<%= product[i]._id %>"><button type="submit" class="btn btn-primary">Edit</button></a></td> 


                <% if(product[i].active===true){ %> 
            
             <!-- <td><a href="/admin/deleteproduct/<%= product[i]._id %>"><button type="submit" class="btn btn-danger">Block</button></a></td> -->


             <td><button type="submit" class="btn btn-danger"  onclick="deleteMsg('<%=product[i]._id %>')" >Block</button></td>

             <% }else{ %> 
         
          <!-- <td><a href="/admin/userUnblock/<%= product[i]._id %>"><button type="submit" class="btn btn-info">UnBlock</button></a></td> -->

          <td><button type="submit" class="btn btn-info"  onclick="alertMsg('<%=product[i]._id %>')" >UnBlock</button></td>


            <% } %> 


              <!-- <td><button type="submit" class="btn btn-danger" onclick="alertMsg('<%=product[i]._id %>')">Delete</button></td> --> 

              <!-- <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/editproduct/<%= product[i]._id %>"
                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                    >
                    <i class="bx bx-trash me-1" onclick="alertMsg('<%=product._id %>')">Delete</i>
                    >
                  </div>
                </div>
              </td> -->

            </tr>

            <% } %>
           
           
           
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

 </div>


 <script>
  function alertMsg(id){
      swal({
title: "Are you sure?",
text: "UnBlock, you will  able to recover this  product!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
  swal(" Your  product has been UnBlocked!", {
    icon: "success",
  });
  location.href="/admin/activeproduct/"+id
} else {
  swal("Your file is safe!");
}
});
  }


  function deleteMsg(id){
      swal({
title: "Are you sure?",
text: "Block, you will  able to unblock this  product",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
  swal(" Your  product has been Blocked!", {
    icon: "success",
  });
  location.href="/admin/deleteproduct/"+id
} else {
  swal("Your file is safe!");
}
});
  }
</script>

 <%- include('partials/adminfooter.ejs') %>