<%- include('partials/userheader.ejs') %>

<div class="site-section">
  <div class="container">
    <form method="post" id="chechout-form">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Choose Address</h2>
          <input
            type="text"
            name="userId"
            value="<%= product.userId %>"
            hidden
          />

          <% if (address.length!=null) { %> <% for(var i=0; i < address.length;
          i++) { %>

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne<%= address[i]._id %>"
                    aria-expanded="false"
                    aria-controls="collapseOne<%= address[i]._id %>"
                  >
                    <h1 class="card-title pricing-card-title">
                      <%= address[i].name %>
                    </h1>
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne<%= address[i]._id %>"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="col-md-6">
                    <ul class="list-unstyled mt-3 mb-4">
                      <li><%=address[i].adress %></li>
                      <li><%= address[i].landmark %></li>
                      <li><%= address[i].city %></li>
                      <li><%= address[i].locality %></li>
                      <li><%= address[i].state %></li>
                      <li><%= address[i].pincode %></li>
                      <li><%= address[i].phoneNumber %></li>
                    </ul>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="<%= address[i]._id %>"
                      name="addressId"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="defaultCheck1"
                      style="color: blue"
                    >
                      Please Select
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }%> <% }else{ %>
          <div
            class="alert alert-warning d-flex align-items-center"
            role="alert"
          >
            <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg> -->
            <p class="text-center align-items-center m-5 p-5">
              You have not added any address yet
            </p>
          </div>
          <% }%>
          <div class="pt-3">
            <a href="/addadress"
              ><button type="button" class="btn btn-success">
                Add Address
              </button></a
            >
          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <div class="p-3 p-lg-5 border">
                <label for="c_code" class="text-black mb-3"
                  >Enter your coupon code if you have one</label
                >
                <div class="input-group w-75">
                  <input
                    type="text"
                    class="form-control"
                    id="c_code"
                    placeholder="Coupon Code"
                    aria-label="Coupon Code"
                    aria-describedby="button-addon2"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      id="button-addon2"
                    >
                      Apply
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row mb-4">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-2 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th><h3>Product</h3></th>
                    <th><h3>Total</h3></th>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < productData.length; i++) { %>
                    <tr>
                      <td>
                        <%= productData[i].productId.title %>
                        <strong class="mx-2">x</strong><%=
                        productData[i].quantity %>
                      </td>
                      <td><%= productData[i].total %></td>
                    </tr>
                    <% } %>

                    <tr>
                      <td class="text-black font-weight-bold">
                        <strong>Cart Subtotal</strong>
                      </td>
                      <td class="text-black"><%= product.grandtotal %></td>
                    </tr>
                    <tr>
                      <td class="text-black font-weight-bold">
                        <strong>Order Total</strong>
                      </td>
                      <td class="text-black font-weight-bold">
                        <strong><%= product.grandtotal %></strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <a
                      class="d-block"
                      data-toggle="collapse"
                      href="#collapsebank"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapsebank"
                      >Cash on delivery</a
                    >
                  </h3>

                  <div class="collapse" id="collapsebank">
                    <div class="py-2">
                      <p class="mb-0">
                        Make your payment directly into our bank account. Please
                        use your Order ID as the payment reference. Your order
                        won’t be shipped until the funds have cleared in our
                        account.
                      </p>
                    </div>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      value="COD"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Please Select
                    </label>
                  </div>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <a
                      class="d-block"
                      data-toggle="collapse"
                      href="#collapsecheque"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapsecheque"
                      >Online payment</a
                    >
                  </h3>

                  <div class="collapse" id="collapsecheque">
                    <div class="py-2">
                      <p class="mb-0">
                        Make your payment directly into our bank account. Please
                        use your Order ID as the payment reference. Your order
                        won’t be shipped until the funds have cleared in our
                        account.
                      </p>
                    </div>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      value="Online"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Please Select
                    </label>
                  </div>
                </div>

               

                <div class="form-group">
                  <button
                   id="rzp-button1"
                    type="submit"
                    class="btn btn-primary btn-lg py-3 btn-block"
                  >
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $("#chechout-form").submit((e) => {
    e.preventDefault();
    $.ajax({
      url: "/place-order",
      method: "post",
      data: $("#chechout-form").serialize(),
      success: (response) => {
        //console.log(response);
        //alert(response.status);
        if (response.cod) {
          alert("cod");
          location.href = "/order-conform"
        } else {
          razorPayPayment(response.onlinePay);
        }
      },
    });
  });

  function razorPayPayment(order) {
var options = {
    "key": "rzp_test_gVjE7EEMOSkshL", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "SHOPPERS",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
}
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});

//document.getElementById('rzp-button1').onclick = function(e){
     rzp1.open();

}

  

  function verifyPayment(payment,order) {
     $.ajax({
      url:'/verifyPayment',
      data:{
        payment,
        order
      },
      method:'post',
     })
  }
</script>

<%- include('partials/userfooter.ejs') %>
