<%- include('partials/userheader.ejs') %>
<% let addressData = locals.addressData || null %> 

<div class="site-section">
  <div class="container">
    <form method="post" id="chechout-form">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          
          <h2 class="h3 mb-3 text-black">Choose Address</h2>
          <input
            type="text"
            name="userId"
            value="<%= product.userId %>"
            hidden
          />


          <% if (addressData!=null) { %> 

          <% if (address.length!=null) { %> 
          <% for(var i=0; i < address.length;i++) { %>

          <div class="accordion " id="accordionExample" >
            <div class="card"   >
              <div class="card-header " id="headingOne"  >
                
                  <button
                    class="btn btn-link btn-block text-left collapsed "
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne<%= address[i]._id %>"
                    aria-expanded="false"
                    aria-controls="collapseOne<%= address[i]._id %>"
                    
                  >
                    <h3 class="card-title pricing-card-title fa-solid fa-angle-down h6">
                      <%= address[i].name %>
                    </h3>

                  </button>
               
              </div>

              <div
                id="collapseOne<%= address[i]._id %>"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="col-md-6">
                    <ul class="list-unstyled mt-3 mb-4">
                      <li><%=address[i].adress %></li>
                      <li><%= address[i].landmark %></li>
                      <li><%= address[i].city %></li>
                      <li><%= address[i].locality %></li>
                      <li><%= address[i].state %></li>
                      <li><%= address[i].pincode %></li>
                      <li><%= address[i].phoneNumber %></li>
                    </ul>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="<%= address[i]._id %>"
                      name="addressId"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="defaultCheck1"
                      style="color: blue"
                    >
                      Please Select
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }%> 
          <% }else{ %>
          <div
            class="alert alert-warning d-flex align-items-center"
            role="alert"
          >
            <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg> -->
            <p class="text-center align-items-center m-5 p-5">
              You have not added any address yet
            </p>
          </div>
          <% }%>
           <% }else{ %>
            <div
              class="alert alert-warning d-flex align-items-center"
              role="alert"
            >
              <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg> -->
              <p class="text-center align-items-center m-5 p-5">
                You have not added any address yet
              </p>
            </div>
            <% }%>
          <div class="pt-3">
            <a href="/addadress"
              ><button type="button" class="btn btn-success">
                Add Address
              </button></a
            >
          </div>
          
          <div class="row mt-4">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>

              <% if (coupon!=null) { %> 
                <% for(var i=0; i < coupon.length;i++) { %>
              
                  <div class="accordion " id="accordionExample" >
                    <div class="card"   >
                      <div class="card-header " id="headingOne"  >
                        
                          <button
                            class="btn btn-link btn-block text-left collapsed "
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne<%= coupon[i]._id %>"
                            aria-expanded="false"
                            aria-controls="collapseOne<%= coupon[i]._id %>"
                            id="coupon<%= coupon[i]._id %>"
                          >
                            <h5 >
                             <%= i+1 %>. <% if(coupon[i].couponType==="cash"){ %> 
                              Rs <%= coupon[i].cutOff %> 
                              <% }else{ %> 
                                <%= coupon[i].cutOff %> %
                                <% } %>  offer
                            </h5>
        
                          </button>
                       
                      </div>
        
                      <div
                        id="collapseOne<%= coupon[i]._id %>"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          <div class="col-md-6">
                            <ul class="list-unstyled mt-3 mb-4">
                              <li>Please use CODE <%= coupon[i].CODE %></li>
                              <li> Cart Amount up to : <%=coupon[i].minCartAmount %></li>
                              <li>Max Radeem Amount : <%=coupon[i].maxRedeemAmount %></li>
                              <li>ExpireDate : <%=coupon[i].expireDate.toLocaleDateString() %></li>
                             
                            </ul>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <% }%>
                  <% }%>

              <div class="p-3 p-lg-5 border">
                <label for="c_code" class="text-black mb-3"
                  >Enter your coupon code if you have one</label
                >
                <div class="input-group w-75">
                  <input
                    type="text"
                    class="form-control"
                    id="couponcode"
                    placeholder="Coupon Code"
                    aria-label="Coupon Code"
                    aria-describedby="button-addon2"
                    value=""
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      id="button-addcoupon"
                     
                      onclick="addCoupon()"
                    >
                      Apply
                    </button>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <div class="alert alert-danger" role="alert" style="display: none;" id="errorDis">
            Coupon not usable please read deatils
          </div>
          <div class="alert alert-danger" role="alert" style="display: none;" id="dateDis">
            Coupon Expired
          </div>
          <div class="alert alert-danger" role="alert" style="display: none;" id="currect">
            Plese enter currect
          </div>
          <div class="alert alert-danger" role="alert" style="display: none;" id="noCount">
            Plese check the count 
          </div>
        </div>

        

        <div class="col-md-6">
          <div class="row mb-4">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-2 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th><h3>Product</h3></th>
                    <th><h3>Total</h3></th>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < productData.length; i++) { %>
                    <tr>
                      <td>
                        <%= productData[i].productId.title %>
                        <strong class="mx-2">x</strong><%=
                        productData[i].quantity %>
                      </td>
                      <td><%= productData[i].total %></td>
                    </tr>
                    <% } %>

                    <tr>
                      <td class="text-black font-weight-bold">
                        <strong>Cart Subtotal</strong>
                      </td>
                      <td class="text-black" id="carttotal"><%= product.grandtotal %></td>
                    </tr>
                    <tr>
                      <td class="text-black font-weight-bold">
                        <strong>Order Total</strong>
                      </td>
                      <td class="text-black font-weight-bold" id="totalDis">
                        <strong><%= product.grandtotal %></strong>
                      </td>
                      <input type="text" name="couponname" id="codeId" value="" hidden>
                      <input type="text" value="" id="discountTotal" name="grandtotal" hidden>
                    </tr>
                  </tbody>
                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <a
                      class="d-block"
                      data-toggle="collapse"
                      href="#collapsebank"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapsebank"
                      
                      >Cash on delivery</a
                    >
                  </h3>

                  
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      value="COD"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Please Select
                    </label>
                  </div>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <a
                      class="d-block"
                      data-toggle="collapse"
                      href="#collapsecheque"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapsecheque"
                      >Online payment</a
                    >
                  </h3>

                  
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      value="Online"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Please Select
                    </label>
                  </div>
                  
                </div>

               

                <div class="form-group">
                  <button
                   id="rzp-button1"
                    type="submit"
                    class="btn btn-primary btn-lg py-3 btn-block"
                  >
                    Place Order
                  </button>
                </div>
                <% if(error.length>0){ %>
                  <div class="alert alert-danger" role="alert">
                   <%= error %></div>
              <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  $("#chechout-form").submit((e) => {
   
    e.preventDefault();
    $.ajax({
      url: "/placeorder",
      method: "post",
      data: $("#chechout-form").serialize(),
      success: (response) => {
        //console.log(response);
        //alert(response.status);
        let ID = response.newOrderId
        if (response.cod) {


Swal.fire({
  title: 'Do you want confirm the order?',
  showDenyButton: true,
 
  confirmButtonText: 'Yes',
  denyButtonText: `No`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    location.href = "/order-conform/"+ID
  } else if (result.isDenied) {
    Swal.fire('Order cancelled', '', 'info')
    location.href = "/showProducts"
  }
})
     
        
         
    } else {
         
          razorPayPayment(response.onlinePay);
        }
      },
    });
  });

  function razorPayPayment(order) {
var options = {
    "key": "rzp_test_gVjE7EEMOSkshL", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "SHOPPERS",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        
        
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
}
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
       
        alert(response.error.description);
        
});

//document.getElementById('rzp-button1').onclick = function(e){
     rzp1.open();

}

  

  function verifyPayment(payment,order) {
   const ID = order.receipt
     $.ajax({
      url:'/verify-Payment',
      data:{
        payment,
        order

      },
      method:'post',
      success : (response)=>{
        
      if(response.status){
        location.href = "/order-conform/"+ID
      }else{
        alert("Online failed")
      }
      }
     })
  }

  function addCoupon() {
    let code = document.getElementById('couponcode').value
    let total = document.getElementById('carttotal').innerHTML
    document.getElementById('codeId').value = code

   
    $.ajax({
      url:'/apply-coupon',
      data:{
        code:code,
        total:total
      },
      method:'post',
      success:(response)=>{
        if(response.total){
          document.getElementById('totalDis').innerHTML=response.total
          document.getElementById('discountTotal').value=response.total
        }else if(response.newTotal){
          document.getElementById('totalDis').innerHTML=response.newTotal
          document.getElementById('discountTotal').value=response.newTotal
        }else if(response.price){
          document.getElementById('errorDis').style.display = "block";
        }else if(response.date){
          document.getElementById('dateDis').style.display = "block";
        }else if(response.count){
          document.getElementById('noCount').style.display = "block";
        }
        else{
          document.getElementById('currect').style.display = "block";
        }
        
      }
    })
    
  }
</script>

<%- include('partials/userfooter.ejs') %>
