<%- include('partials/userheader.ejs') %>
<% let addressData = locals.addressData || null %> 


<section class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, <%= user.Name %>!</h1>
    <p class="lead">
      A person who enjoys shopping very much and does it a lot: A self-confessed shopaholic, Diane loved looking for new clothes with her two daughters.</p>
    <hr class="my-4">
    <p>we are the best shopping and perfect shopping app </p>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div>
</section>

<section class="container">
  <% if(error.length>0){ %>
    <div class="alert alert-danger" role="alert">
     <!-- Incorrect username or password ! -->
     <%= error %></div>
<% } %>
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4 "><span class="text-muted fw-light">Personal Information</h4>
    
        <!-- Basic Layout & Basic with Icons -->
        <div class="row d-flex justify-content-between container">
          <!-- Basic Layout -->
          
          <div class="col-xxl">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">You can edit your data</h5>
                <small class="text-muted float-end"></small>
              </div>
              <div class="card-body">
                <form  action="/user-profile-edit/<%= user._id %>" method="post">
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="basic-default-name">Name </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="basic-name" placeholder="" value="<%= user.Name %> " disabled name="Name" required/>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="basic-default-email">Email </label>
                    <div class="col-sm-9">
                      <div class="input-group input-group-merge">
                        <input
                          type="text"
                          id="basic-email"
                          value="<%= user.Email %> "
                          class="form-control"
                          name="Email"
                          aria-label="john.doe"
                          aria-describedby="basic-default-email2"
                          disabled
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="basic-default-phone">Phone No</label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        id="basic-phone"
                        class="form-control phone-mask"
                        name="PhoneNumber"
                        value="<%= user.PhoneNumber %> "
                        aria-describedby="basic-default-phone"
                        disabled
                        required
                      />
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-message">Message</label>
                    <div class="col-sm-10">
                      <textarea
                        id="basic-default-message"
                        class="form-control"
                        placeholder="Hi, Do you have a moment to talk Joe?"
                        aria-label="Hi, Do you have a moment to talk Joe?"
                        aria-describedby="basic-icon-default-message2"
                      ></textarea>
                    </div>
                  </div> -->
                   <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="button" class="btn btn-primary"  id="editButton" onclick="profileEditEnabel()">Edit</button>
                      <button type="submit" class="btn btn-primary" style="display:none ;" id="updateButton" >Update</button>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0 text-center">Your Address</h5>
                  <small class="text-muted float-end"></small>
                </div>
                <div class="card-body">
                  <% if (addressData!=null) { %>
                  <% if (address.length!=null) { %>
                    <% for(var i=0; i < address.length; i++) { %>
        
                       
                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne<%= address[i]._id %>"  aria-expanded="false" aria-controls="collapseOne<%= address[i]._id %>">
        
                                <h1 class="card-title pricing-card-title"><%= address[i].name %> </h1>
        
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne<%= address[i]._id %>" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                  
                              <div class="col-md-6">
                            
                                <ul class="list-unstyled mt-3 mb-4">
                                  <li><%=address[i].adress %></li>
                                  <li><%= address[i].landmark %></li>
                                  <li><%= address[i].city %></li>
                                  <li><%= address[i].locality %></li>
                                  <li><%= address[i].state %></li>
                                  <li><%= address[i].pincode %></li>
                                  <li><%= address[i].phoneNumber %></li>
                                </ul>
                                <a href="/editaddress/<%= address[i]._id %> "><button type="button" class=" btn btn-lg btn-outline-primary" >Edit</button></a> 
                                
                                <a href="/deleteaddress/<%= address[i]._id %>"><button type="button" class=" btn btn-lg btn-outline-danger">Delete</button></a> 

                              
                          </div>
                            </div>
                          </div>
                        </div>
                        
                       
                      </div>
            
                         
                          
                          
                          <% }%>
                          
                        
                        <% }else{ %>
                        <div class="alert alert-warning d-flex align-items-center " role="alert">
                          <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg> -->
                          <p class="text-center align-items-center m-5 p-5">You have not added any address yet</p>
                        </div>
                        <% }%>

                       

                        <% }else{ %>
                          <div class="alert alert-warning d-flex align-items-center " role="alert">
                            <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg> -->
                            <p class="text-center align-items-center m-5 p-5">You have not added any address yet</p>
                          </div>
                          <% }%>
                    
                </div>
              </div>
            </div>


          
           


          <!-- Basic with Icons -->
          <!-- <div class="col-xxl">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Basic with Icons</h5>
                <small class="text-muted float-end">Merged input group</small>
              </div>
              <div class="card-body">
                <form>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text"
                          ><i class="bx bx-user"></i
                        ></span>
                        <input
                          type="text"
                          class="form-control"
                          id="basic-icon-default-fullname"
                          placeholder="John Doe"
                          aria-label="John Doe"
                          aria-describedby="basic-icon-default-fullname2"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-company2" class="input-group-text"
                          ><i class="bx bx-buildings"></i
                        ></span>
                        <input
                          type="text"
                          id="basic-icon-default-company"
                          class="form-control"
                          placeholder="ACME Inc."
                          aria-label="ACME Inc."
                          aria-describedby="basic-icon-default-company2"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                        <input
                          type="text"
                          id="basic-icon-default-email"
                          class="form-control"
                          placeholder="john.doe"
                          aria-label="john.doe"
                          aria-describedby="basic-icon-default-email2"
                        />
                        <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                      </div>
                      <div class="form-text">You can use letters, numbers & periods</div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-phone2" class="input-group-text"
                          ><i class="bx bx-phone"></i
                        ></span>
                        <input
                          type="text"
                          id="basic-icon-default-phone"
                          class="form-control phone-mask"
                          placeholder="658 799 8941"
                          aria-label="658 799 8941"
                          aria-describedby="basic-icon-default-phone2"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
                    <div class="col-sm-10">
                      <div class="input-group input-group-merge">
                        <span id="basic-icon-default-message2" class="input-group-text"
                          ><i class="bx bx-comment"></i
                        ></span>
                        <textarea
                          id="basic-icon-default-message"
                          class="form-control"
                          placeholder="Hi, Do you have a moment to talk Joe?"
                          aria-label="Hi, Do you have a moment to talk Joe?"
                          aria-describedby="basic-icon-default-message2"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
        </div>
      </div>
</section>
<section class="container">
    <a href="/addadress"><button type="button" class="btn btn-success">Add Address</button></a>
</section>

<script>
  
  function profileEditEnabel(){
    document.getElementById('basic-name').removeAttribute("disabled");
    document.getElementById('basic-phone').removeAttribute("disabled");
    document.getElementById('basic-email').removeAttribute("disabled");
    document.getElementById('editButton').style.display = "none";
    document.getElementById('updateButton').style.display = "block";
    
  }

  function profileEdit(id){
   $.ajax({
    url:'/user-profile-edit/'+id,
    method:'post',
    
    success:(response)=>{
     if(response.edit){
      alert("your Profile successfully Edited")
      location.reload()
     }
    }
   })
  }
</script>

<%- include('partials/userfooter.ejs') %>