<%- include('partials/userheader.ejs') %> <% if(datas.products.length!=0){ %>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table">
            <h1>My Wishlist(<%= datas.products.length %>)</h1>
            <!-- <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead> -->
            <tbody>
              <% for(var i=0; i < product.length; i++) { %>
              <tr>
                <td class="product-thumbnail">
                  <img
                    src="/images/<%= product[i].productId.images[0] %>"
                    alt="Image"
                    class="img-fluid"
                  />
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">
                    <%= product[i].productId.title %>
                  </h2>
                  <h2 class="fa fa-inr"><%= product[i].productId.price %></h2>
                </td>
                <!-- <td><%= product[i].productId.price %> </td> -->
                <!-- <td>
                    <div class="input-group mb-3" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button" onclick="changeQuantity('<%= product[i].productId._id %>','<%= datas.userId %>','<%= product[i].quantity %>','<%= product[i].total %>','<%= product[i].productId.price %>',-1)">&minus;</button>
                      </div>
                      <input type="text" id="<%= product[i].productId._id %>" class="form-control text-center" value="<%= product[i].quantity %>" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus" type="button" onclick="changeQuantity('<%= product[i].productId._id %>','<%= datas.userId %>','<%= product[i].quantity %>','<%= product[i].total %>','<%= product[i].productId.price %>',1)" >&plus;</button>
                      </div>
                    </div>

                  </td> -->
                <td>
                  <% if(user){ %>
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="addToClik('<%=product[i].productId._id %>')"
                  >
                    Add To Cart
                  </button>
                  <% }else{ %>
                  <p>
                    <a href="/cart" class="buy-now btn btn-sm btn-primary"
                      >Add To Cart</a
                    >
                  </p>
                  <% } %>
                </td>
                <td>
                  <button
                    class="btn btn-primary btn-sm"
                    onclick="deleteWhilstProduct('<%= product[i].productId._id %>')"
                  >
                    Delete
                  </button>
                </td>
                <!-- <td><button type="button" class="btn btn-primary" onclick="deleteProduct('<%= product[i].productId._id %>','<%= product[i].total %>',1)" >Primary</button></td> -->
              </tr>

              <% } %>
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <!-- <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm">Apply Coupon</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black"  ><%= datas.grandtotal %>  </strong>
                 
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="grandtotal"> </strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <% }else{ %>

    <section class="container">
      <h1>Wishlist Empty</h1>
      <div>
        <a href="/showProducts"
          ><button type="button" class="w-100 btn btn-lg btn-outline-primary">
            shope
          </button></a
        >
      </div>
    </section>
    <% } %>

    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <script>

      function addToClik(proId) {
        $.ajax({
          url: "/addtocart/" + proId,
          method: "get",
          success: (response) => {
            if (response.status) {

             alert("your product added to cart")
              let count = $("#cart").html();
              count = parseInt(count) + 1;
              $("#cart").html(count);
            }
          },
        });
      }

      function deleteWhilstProduct(proId) {
        $.ajax({
          url: "/wishlistproductdelete/" + proId,
          method: "get",
          success: (response) => {
            if (response.status) {
              location.reload(true);
            }
          },
        });
      }
    </script>

    <%- include('partials/userfooter.ejs') %>
  </div>
</div>
